<div class="bg-de">
    <div class="container footer pd-top-50 pd-bottom-15">
        <div class="row text-center">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <p class="p-margin-bottom-20 f-16 f-weight-800"><a class="footer-link font-weight-bold">Home</a></p>
                <p class="p-margin-bottom-20 f-16"><a href="#!/about" class="footer-link">About Us</a></p>
                <p class="p-margin-bottom-20 f-16"><a href="#" class="footer-link">Cities</a></p>
                <p class="p-margin-bottom-20 f-16 pd-bottom-25"><a href="#" class="footer-link">Parties</a></p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <p class="p-margin-bottom-20 f-16 f-weight-800"><a class="footer-link font-weight-bold">Social</a></p>
                <p class="p-margin-bottom-20 f-16"><a href="#" class="footer-link">Facebook</a></p>
                <p class="p-margin-bottom-20 f-16"><a href="#" class="footer-link">Instagram</a></p>
                <p class="p-margin-bottom-20 f-16 pd-bottom-25"><a href="#" class="footer-link">Twitter</a></p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <p class="p-margin-bottom-20 f-16 f-weight-800"><a class="footer-link font-weight-bold">RM Group</a></p>
                <p class="p-margin-bottom-20 f-16"><a href="#" class="footer-link">Companies</a></p>
                <p class="p-margin-bottom-20 f-16"><a href="#" class="footer-link">Products</a></p>
                <p class="p-margin-bottom-20 f-16 pd-bottom-25"><a href="#!/certificate" class="footer-link">Certificate</a></p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-3 col-xs-12 pd-bottom-15">
                <div class="pull-right sm-float-none">
                    <img src="assets/logo.png" style="height:70px; margin: auto;" class="img-responsive">
                    <div class="pd-top-25">
                        <button class="btn p-button" style="cursor:pointer;" data-toggle="modal" data-target="#eModal">CONTACT US</button>
                    </div>
                    <div class="row w-170-p pd-top-25" style="margin: auto;">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="#" class="footer-link">
                                <i class="fab fa-facebook-f f-24"></i>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="#" class="footer-link">
                                <i class="fab fa-instagram f-24"></i>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="#" class="footer-link">
                                <i class="fab fa-twitter f-24"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 pd-top-25">
                <small class="text-muted"><p class="text-center sm-text-justify f-16">Copyright &copy; 2020 RM Exports, all rights are reserved to <span class="text-info">RM EXPORTS</span> &nbsp;|&nbsp; 67, Narayana Mudali Street, Sowcarpet, Chennai - 600079 &nbsp;|&nbsp; <span class="text-info">044-42166779</span></p></small>
            </div>
        </div>
    </div>
</div>