<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#" style="padding-top:10px;">
            <!-- <img src="assets/logo_top.png" class="img-responsive"> -->
            <h4><span class="font-weight-bold primary-color">RM</span> <span class="text-muted">Exports</span></h4>
        </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="margin-top: -10px;">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="font-size:14px;min-width:100px;">
                <a class="nav-link" href="#!/about">About Us</a>
                </li>
                <li class="nav-item" style="font-size:14px;min-width:100px;">
                <a class="nav-link" href="#!/products">Products</a>
                </li>
                <li class="nav-item" style="font-size:14px;min-width:120px;">
                <a class="nav-link" href="#">Companies</a>
                </li>
                <li class="nav-item" style="font-size:14px;min-width:100px;">
                <a class="nav-link" style="cursor:pointer;" data-toggle="modal" data-target="#eModal">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>