<navbar></navbar>
<div class="container pd-0" style="padding-top: 100px;">
    <div class="container">
        <div class="font-weight-bold">
            <h3 class="display-4 primary-color">Business Information</h3>
        </div>
        <div class="text-muted" style="margin:auto;">
            <span class="font-weight-bold">Business Name:</span> RM Exports<br>
            <span class="font-weight-bold">Business Address:</span> 67, Narayana Mudali Street, Sowcarpet, Chennai - 600079<br>
            <span class="font-weight-bold">Email:</span> shrenik@rmexports.in<br>
            <span class="font-weight-bold">Tel:</span> 044-42166779, 044-25392670, +91-9884614000<br>
        </div><br><br>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                        <div class="card-container">
                            <div class="card">
                                <div class="front">
                                    <div class="cover"></div>
                                    <div class="user">
                                        <img class="img-circle" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>
                                    </div>
                                        
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">Chagan Lal Ranka</h3>
                                            <p class="profession">Founder</p>
                                            <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                        </div>
                                        <div class="footer">
                                            <i class="fa fa-mail-forward"></i> Auto Rotation
                                        </div>
                                    </div>
                                </div> <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>        
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="social-links text-center">
                                            <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                            <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                            <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                        </div>
                                    </div>
                                </div> <!-- end back panel -->
                            </div> <!-- end card -->
                        </div> <!-- end card-container -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="card-container">
                            <div class="card">
                                <div class="front">
                                    <div class="cover"></div>
                                    <div class="user">
                                        <img class="img-circle" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>
                                    </div>
                                        
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">Panna Lal Ranka</h3>
                                            <p class="profession">Founder</p>
                                            <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                        </div>
                                        <div class="footer">
                                            <i class="fa fa-mail-forward"></i> Auto Rotation
                                        </div>
                                    </div>
                                </div> <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>        
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="social-links text-center">
                                            <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                            <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                            <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                        </div>
                                    </div>
                                </div> <!-- end back panel -->
                            </div> <!-- end card -->
                        </div> <!-- end card-container -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="card-container">
                            <div class="card">
                                <div class="front">
                                    <div class="cover"></div>
                                    <div class="user">
                                        <img class="img-circle" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>
                                    </div>
                                        
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">bss</h3>
                                            <p class="profession">CEO</p>
                                            <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                        </div>
                                        <div class="footer">
                                            <i class="fa fa-mail-forward"></i> Auto Rotation
                                        </div>
                                    </div>
                                </div> <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="social-links text-center">
                                            <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                            <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                            <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                        </div>
                                    </div>
                                </div> <!-- end back panel -->
                            </div> <!-- end card -->
                        </div> <!-- end card-container -->
                    </div>
            </div>
        </div>
</div>
<div class="container-fluid pd-0"style="padding-top: 50px;">
    <contact></contact>
    <footer></footer>   
</div>
