<navbar></navbar>
<div class="container pd-0" style="padding-top: 100px;">
    <div class="text-center text-muted" style="max-width:800px;margin:auto;">
        <h5>The materials supplied by our company are certified by <span class="primary-color">TESTEX®️</span> Switzerland OEKO-TEX STANDARD100 CLASS I.</h5>
    </div>
    <div class="row">
        <div class="col-6 text-center" style="margin:auto;">
            <img src="assets/pr1.png" class="text-center img-responsive img-fluid">
        </div>
    </div><br><br>
    <div class="text-center text-muted" style="max-width:800px;margin:auto;">
        <h6>Woven fabric or tape made of 100% recycled PES yarn or 100% PES yarn all for printed label.</h6><br>
        <small>The results of the inspection made according to STANDARD 100 by OEKO-TEX®️, Product class I have shown that the all goods meet the human-ecological requirements of the STANDARD 100 by OEKO-TEX®️ presently established for baby articles.</small>
    </div>
</div>
<div class="container-fluid pd-0"style="padding-top: 50px;">
    <contact></contact>

    <footer></footer>   
</div>
